<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
    <title>Deck Viz</title>
    <!-- CSS -->
    <link href='/static/css/style-all.css' rel='stylesheet' type='text/css'>
</head>
<body>
<!-- ======================================================================

    LAYOUT

    ======================================================================= -->
<div id='site-wrapper'>
    <!-- Top Wrapper -->
    <div id='site-top-wrapper'>
        DeckViz
    </div>
    

    <!-- Contains site content -->
    <div id='site-content-wrapper'>
        <!-- Left Side -->
        <div id='site-left-side-wrapper'>

            <!--<select id='deckList'>-->
                <!--<option value='0'>Coming soon</option>-->
                <!--<option value='U/R Delver'>U/W Delver</option>-->
                <!--<option value='Wolf Run Ramp'>Wolf Run Ramp</option>-->
            <!--</select>-->
            <!-- Deck -->
            <div id='deck-wrapper'>
                <textarea id='deck'></textarea>
            </div>
        </div>


        <!-- Right Side (visualizations) -->
        <div id='site-right-side-wrapper'>
            <div id='svg-wrapper' style='margin: 1em;'>
                <!-- TODO - bootstrap this in code -->
                <svg id='svg-el-deck-mana' width=1100 height=400>

                    <!-- Filters -->
                    <defs id='filters'>
                        <filter
                               x="-0.15000001"
                               y="-0.15000001"
                               width="1.3"
                               height="1.3"
                               color-interpolation-filters="sRGB"
                               id="filter4066">
                              <feTurbulence
                                 result="result4"
                                 seed="0"
                                 numOctaves="5"
                                 baseFrequency="0.04"
                                 type="fractalNoise"
                                 id="feTurbulence4068" />
                              <feDisplacementMap
                                 in2="result4"
                                 scale="10"
                                 xChannelSelector="R"
                                 yChannelSelector="G"
                                 in="SourceGraphic"
                                 result="result3"
                                 id="feDisplacementMap4070" />
                              <feDiffuseLighting
                                 in="result4"
                                 result="result1"
                                 surfaceScale="2"
                                 diffuseConstant="1"
                                 lighting-color="#e9e6d7"
                                 id="feDiffuseLighting4072">
                                <feDistantLight
                                   elevation="40"
                                   azimuth="235"
                                   id="feDistantLight4074" />
                              </feDiffuseLighting>
                              <feComposite
                                 in2="result1"
                                 operator="in"
                                 in="result3"
                                 result="result2"
                                 id="feComposite4076" />
                              <feComposite
                                 in2="result1"
                                 operator="arithmetic"
                                 k1="1.7"
                                 k2="0"
                                 k3="0"
                                 k4="0"
                                 result="result5"
                                 id="feComposite4078" />
                              <feBlend
                                 in2="result3"
                                 mode="normal"
                                 in="result5"
                                 id="feBlend4080" />
                            </filter>
                    </defs>





                    <!-- Mana curve -->
                    <g id='manaCurveViz'>
                        <g id='manaCurve'></g>
                        <g id='axesLabels'></g>
                    </g>
                        
                </svg>

                <svg id='svg-el-deck-pie' width=600 height=400></svg>
            </div>
        </div>
    </div>
</div>

<!-- ======================================================================

    TEMPLATES

    ======================================================================= -->

<!-- ======================================================================

    SCRIPTS

    ======================================================================= -->
<!-- Third party -->
<script src='/static/lib/all3rdjs.min.js'></script>

<!-- ======================================================================
    Our scripts
    ======================================================================= -->

<script src='/static/js/namespace.js'></script>
<script src='/static/js/util.js'></script>
<script src='/static/js/app.js'></script>
<script src='/static/js/cards.js'></script>
<script src='/static/js/deck.js'></script>

<!-- PRODUCTION
<script src='/static/js/build/deckviz.min.js'></script>
-->

<script>

//TODO: use different scripts based on environment. In testing, we want to call 
//  this manually so we can run unit tests
$(document).ready(function(){
    DECKVIZ.init();
});
</script>


<!-- Google Tracking -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2994714-13']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
</body>
</html>
